<!DOCTYPE html>
<html lang="en" xmlns:th="https:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Home</title>
    <link th:href="@{/styles/menu.css}" rel="stylesheet">
    <link th:href="@{/styles/button.css}" rel="stylesheet">
    <style>
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/schoolForm">Add School</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/teacherForm">Teacher Register</a></li>
        <li><a href="/teachers">Teachers</a></li>
        <li><a href="/schoolsAndTeachers">Schools And Teachers</a></li>
        <li><a href="/subjectHome">Subjects</a></li>
        <li><a class="active" href="/studentHome">Students</a></li>
    </ul>
</div>
<hr>
<h1>Students</h1>
<button style="margin-left: 47%;"><a href="/studentForm">Register A Student</a></button>
<button style="margin-left: auto;"><a href="/students">Students</a></button>
</body>
</html>