<!DOCTYPE html>
<html lang="en" xmlns:th="https:/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Adds Classes</title>
    <link th:href="@{/styles/menu.css}" rel="stylesheet">
    <link th:href="@{/styles/table.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9470ca765a.js" crossorigin="anonymous"></script>
    <style>
    h1 {
      text-align: center;
      color: black;
    }
    button: hover {
        background-color: #d0f1f5;
        }
    button {
        width: 100px;
        height: 25px;
        background-color: #85cbd4;
        color: black;
        padding: 14px, 20px;
        margin-top: 20px;
        margin-left: 47%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    </style>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/schoolForm">Add School</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/teacherForm">Teacher Register</a></li>
        <li><a class="active" href="/teachers">Teachers</a></li>
        <li><a href="/schoolsAndTeachers">Schools And Teachers</a></li>
        <li><a href="/subjectHome">Subjects</a></li>
        <li><a href="/studentHome">Students</a></li>
    </ul>
</div>
<h1>Add Classes For <span th:utext="${teacherFirstName} + ' ' + ${teacherLastName}"></span>
    at <span th:utext="${schoolName}"></span></h1>
<div class="table">
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Add</td>
        </tr>
        <tr th:each="classOfStudents: ${classListForTeacher}">
            <td th:text="${classOfStudents.classId}">Id</td>
            <td th:text="${classOfStudents.className}">Name</td>
            <td><a th:href="@{/teacherAddClasses(teacherId=${teacherId}, schoolId=${schoolId},
      classId=${classOfStudents.classId})}">
                <i class="fa-solid fa-plus" style="color: #7c99cb;"></i></a></td>
        </tr>
    </table>
</div>

<button><a th:href="@{/getClassesForTeacher(teacherId=${teacherId},
schoolId=${schoolId})}">Back</a></button>
</body>
</html>