<!DOCTYPE html>
<html lang="en" xmlns:th="https:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <link th:href="@{/styles/menu.css}" rel="stylesheet">
    <link th:href="@{/styles/button.css}" rel="stylesheet">
    <link th:href="@{/styles/table.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9470ca765a.js" crossorigin="anonymous"></script>
    <style>
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/schoolForm">Add School</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/teacherForm">Teacher Register</a></li>
        <li><a href="/teachers">Teachers</a></li>
        <li><a class="active" href="/schoolsAndTeachers">Schools And Teachers</a></li>
        <li><a href="/subjectHome">Subjects</a></li>
        <li><a href="/studentHome">Students</a></li>
    </ul>
</div>
<hr>
<h1><span th:utext="${schoolName}"></span></h1>
<h1><span th:utext="${teacherName}"></span>'s Classes for</h1>
<h1><span th:utext="${subjectName}"></span></h1>
<div class="table">
    <table>
        <tr>
            <td>Id</td>
            <td>Class</td>
            <td>Students</td>
            <td>Action</td>
        </tr>
        <tr th:each="classOfStudentsDto: ${classListForSubject}">
            <td th:text="${classOfStudentsDto.classId}">Id</td>
            <td th:text="${classOfStudentsDto.className}">Class</td>
            <td><a th:href="@{/catalog(school2TeacherId=${school2TeacherId},
            subjectId=${subjectId}, classId=${classOfStudentsDto.classId})}">catalog</a></td>
            <td><a th:href="@{/deleteClassForSubject(classId=${classOfStudentsDto.classId},
            subjectId=${subjectId}, school2TeacherId=${school2TeacherId})}">
                <i class="fa-solid fa-trash-can" style="color: #7f94b8; padding: 3px;"></i>
            </a></td>
        </tr>
    </table>
</div>
<button><a th:href="@{/addClassToSubjectList(school2TeacherId=${school2TeacherId},
                            subjectId=${subjectId})}">Add Class</a></button>
<button><a th:href="@{/subjectsForSchool2Teacher(school2TeacherId=${school2TeacherId})}">Back</a></button>
</body>
</html>