<!DOCTYPE html>
<html lang="en" xmlns:th="https:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subject Form</title>
    <link th:href="@{/styles/menu.css}" rel="stylesheet">
    <link th:href="@{/styles/form.css}" rel="stylesheet">
    <style>
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/schoolForm">Add School</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/teacherForm">Teacher Register</a></li>
        <li><a href="/teachers">Teachers</a></li>
        <li><a href="/schoolsAndTeachers">Schools And Teachers</a></li>
        <li><a class="active" href="/subjectHome">Subjects</a></li>
        <li><a href="/studentHome">Students</a></li>
    </ul>
</div>
<hr>
<h1>Add A Subject</h1>
<div class="form">
    <form th:action="@{/subjectForm}" th:object="${subject}" method="post">
        <input th:field="*{subjectId}" type="hidden" name="subjectId" id="subjectId">

        <label for="subjectName">Name</label>
        <input th:field="*{subjectName}" type="text" name="subjectName" id="subjectName"
               placeholder="Subject Name">

        <a href="/subjects">
            <input type="submit" value="Submit">
        </a>
        <a href="/subjectHome">
            <input type="button" value="Back">
        </a>
    </form>
</div>
</body>
</html>