<!DOCTYPE html>
<html lang="en" xmlns:th="https:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <link th:href="@{/styles/menu.css}" rel="stylesheet">
    <link th:href="@{/styles/table.css}" rel="stylesheet">
    <link th:href="@{/styles/button.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9470ca765a.js" crossorigin="anonymous"></script>
    <style>
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/schoolForm">Add School</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/teacherForm">Teacher Register</a></li>
        <li><a href="/teachers">Teachers</a></li>
        <li><a href="/schoolsAndTeachers">Schools And Teachers</a></li>
        <li><a class="active" href="/subjectHome">Subjects</a></li>
        <li><a href="/studentHome">Students</a></li>
    </ul>
</div>
<hr>
<h1>Subjects</h1>
<div class="table">
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Teachers</td>
            <td>Action</td>
        </tr>
        <tr th:each="subjectDto: ${subjectList}">
            <td th:text="${subjectDto.subjectId}">Id</td>
            <td th:text="${subjectDto.subjectName}">Name</td>
            <td><a th:href="@{/subjectSeeTeachers(subjectId=${subjectDto.subjectId})}">teachers</a></td>
            <td><a th:href="@{/deleteSubject(subjectId=${subjectDto.subjectId})}">
                <i class="fa-solid fa-trash-can" style="color: #7f94b8; margin-left: auto;
                margin-right: auto;"></i></a>
            </td>
        </tr>
    </table>
    <button><a href="/subjectHome">Back</a></button>
</div>
</body>
</html>